@import "../../variables.scss";
nav {
  background: $dark-grey;
  height: 100vh;
  width: 4rem;
  float: left;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        color: $white;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .activated {
        background: $blue;
      }
    }
  }
}
