  img {
    height: 170px;
    float: left;
	padding: 5px 5px 0px 0px;
	cursor: pointer;
  }
  
  img.big {
	  width: 650px;
	  height: auto;
	  top: 5%;
	  left: 50%;
	  margin-left: -325px;
	  position: fixed;
	  border: 5px solid #FFF;
	  padding: 0;
  }
  
#images, #ui {
	width: 80%;
	margin: 0 auto;
	clear: both;
}

footer {
	width: 100%;
	height: 50px;
}